# Python 3.11 兼容版本
# C:\VsCode\py\.venv\Lib\site-packages\requests\__init__.py:113: RequestsDependencyWarning: urllib3 (2.6.3) or chardet (7.1.0)/charset_normalizer (3.4.5) doesn't match a supported version!

pillow>=10.0.0,<11
requests>=2.31.0
chardet>=5.0.0,<6
psutil>=5.9.0

aiohttp>=3.11.0,<4
mysql-connector-python==8.1.0
sqlalchemy==2.0.48
flask==3.0.0

jinja2>=3.1.0,<4.0.0
